:root{
    --light-black:#242430;
    --dark-black:#191923;
    --green:#22710D;
    --middle-black:#20202A;
    --mauve:#2a272a;
}

*,

body{
    margin: 0;
    font-family: "Poppings", sans-serif;
}

body{
    display: flex;
    gap: 50px;
   
    background-color: rgba(19, 7, 71, 0.849);
/*     background-color: #262626 ;
 */    
 background-color: rgb(36, 14, 14);
 background-color: black;
 


}
.profil{
    margin:15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   /*  align-content: center;
    justify-content: center;
    align-items: center; */
    column-gap: 5px;
    border: 1px solid var(--light-black);
}
.profil-download p:hover{color: white;}

.profil-content{

    display: flex;
    flex-direction: column;
        align-content: center;
    justify-content: center;
    align-items: center; 
}
.profil-download{
    display: flex;
    flex-direction: column;
    z-index: 2;
   
}

.download:hover{
    transform: scale(1.1);
    margin-left: 13px;
    
}
.about{
    padding: 25px;
    display: flex;
    background-color: black;
    border: 1px solid black;
    flex-direction: column;
    height: 390px;
    gap: 25px;
}
.left-section{
    display: flex;
    flex-direction: column;
    margin:11px 0 0 8px; 
    width: 288px;
    height: 635px !important;
    background-color: black;
    border: 3px solid var(--light-black);
    position: fixed;
    box-shadow: 5px 8px 4px black;
    z-index:2;
}
.middle-section{
    height: 100%;
margin-left: 335px;
margin-right: 150px;
display: flex;
flex-direction: column;
}
.right-section{
    display: flex;

    justify-content: center;
    height: 635px !important;
    background-color: black;
    border: 1px solid var(--light-black);
    width: 65px;
    margin: 11px 8px 0 0;
    right: 0 !important;
    box-shadow: -5px 8px 4px black;
    border: 3px solid var(--light-black);
    position: fixed;


    
}
.address-country{
    display: flex;
    justify-content: space-between;
}
.address-town{
    display: flex;
    justify-content: space-between;
}
.age{
    display: flex;
    justify-content: space-between;
}
.languages{
    display: flex;
    flex-direction: column;
 
}
 .language-titles{
    display: flex;
   justify-content: space-around;
}

.percentages{
    display: flex;
    gap:10px
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--light-black);

   

}
.icons img{
  width: 20px;
  height: auto;
  padding: 10px 0;
}

.icons img:hover{
  transform: scale(1.2);
}
.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px;
    padding-top: 120px;
    padding-left: 90px;
    background-image: url("Images/earth-ge471ce8e1_640.jpg");

}
.container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
   
}
.header{
    margin-top: 0;
/*     background-image: url("Images/code\ matrix\ blur\ background.png") !important;
 */}
.btn{
    background-color: rgba(10, 10, 112, 0.63);
    border: solid 1px rgba(10, 10, 112, 0.63);
    padding: 15px;
    width: 216px;
    height: auto;
    cursor:pointer;
}
.btn2{
  background-color: rgba(10, 10, 112, 0.63);
  border: solid 1px rgba(10, 10, 112, 0.63);
  padding: 15px;
  width: 216px;
  height: auto;
  cursor:pointer;
  margin-top: 10px;
}

 .btn:hover{
    transform: scale(1.1);
    background-color: var(--light-black);
    border: none;
    opacity: 0.7;
}
.btn2:hover{
  transform: scale(1.1);
  background-color: var(--light-black);
  border: none;
  opacity: 0.7;
}
.experience{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

h1{
    font-size: 38px; color: yellow;
}
.years-experience{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.completed-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.certifications{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}
h4, p{
    color: white;
}
p{
    color: gray;
}


.sidenav {
    height: 100%;
    width: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    border: 1px solid var(--light-black);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main, .right-section {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  .projects{
    display: flex;
    flex-wrap: wrap;
  }
  .projects a{
    color: yellow;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .services, .projects{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin-bottom: 20px;
  }

  .projects{
    display: flex;

  }
  
  .app-development, .ui-design, .it-support, .linux{
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
  
    gap: 20px;
    background-color: black;
    border: 1px solid var(--light-black);
    padding: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 12px 17px 4px #000000;
    flex: 30%;
   
    z-index: 2;
  }

  .app-development:hover, .ui-design:hover, .it-support:hover, .linux:hover{
    transform: scale(1.04); 
    transition: transform 400ms ease-in-out;
  }
  
 .e-library, .landing-page{
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    gap: 20px;
    background-color: black;
    border: 1px solid var(--light-black);
    padding: 25px;
    justify-content: space-between;
    box-shadow: 12px 17px 4px #000000;
    overflow: scroll;
  }
  .e-library:hover, .landing-page:hover{
     transform: scale(1.04); 
    transition: transform 400ms ease-in-out;
  }
  
  .

 
  .footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--light-black);
    padding: 10px;
    bottom: 0;
    margin-top: 30px;
  
  }
  h3{
    color: white;
  }
  h1,h2,h3,h4,h5,p{
    font-family: calibri;
  }
 
  #myVideo {
    position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      opacity: 0.2;
      margin-right: 70px;
    }

    .tools{
        display: flex;
        background-color: white;
        justify-content: space-around;
        opacity: 0.8;
        margin: 20px 0;
    }


    .tools img{
        width: 70px;
        height: 70px;
    }

    .contact{
        display: flex;
        justify-content: space-around;
    }

    .field-name, .field-email,.field-message{
        display: flex;
       width: auto;
    }

    .skills {
        text-align: right;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        font-size:15px ;
        z-index: 1;
/*         opacity: 1 !important;
 */      }
      
      .html {width: 90%;     background-color: rgb(36, 14, 14); opacity: 1; z-index: -1;
      }
      .css {width: 90%; background-color: rgb(36, 14, 14); opacity: 1; z-index: -1;
      }
      .javascript {width: 90%; background-color: rgb(36, 14, 14); opacity: 1; z-index: -1;
      }
      .ajax {width: 85%; background-color: rgb(36, 14, 14); opacity: 1; z-index: -1;
      }


      .java {width: 85%; background-color: rgb(36, 14, 14); opacity: 1; z-index: -1;}
      .python {width: 80%;  background-color: rgb(36, 14, 14); opacity: 1; z-index: -1;}

      .container-skills {
        width: 100%;
        background-color: #ddd;
      }
/* Download CV part */

/* .container9 {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100vh;
} */

.chevron {

  width: 2.3rem ;
  height: 0.48rem ;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: white;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY(2.28rem);
 }
 66.6% {
  opacity: 1;
  transform: translateY(3.12rem);
 }
 100% {
  opacity: 0;
  transform: translateY(4.8rem) scale(0.5);
 }
}



@media (max-width: 412px) {
  body{
    width: 412px;
    position:absolute;
    height: 100%;
  }
  .container img {
    display: none !important;
  }
  #contac-msg{
  width: 315px;
  margin: 0 5px;
  }
  
  
  
  .header, .container{
    max-width: 412px;
    padding: 0;
    
    
  }
  .left-section {
    display: none;
    z-index: -1;
    opacity: 0;
  }
.projects{
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;

}
  .right-section{
   
    display: none;
  }
  .middle-section{
    
    position: absolute;
    z-index: 3;
    margin: 0 10px;
   
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;

  }
  .tools{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 380px;
gap: 5px  }
  .services{
    display: flex;
    flex-direction: column;
    width: fit-content;

  }
   .e-library, .landing-page{
    display: flex;
    flex-direction: column !important;
    width: fit-content !important;
    z-index: 4;

  }
 
  .contact{
    display: flex;
    flex-direction: column;

  }
  #mySidenav{
    display: none;
  }


  #myVideo {
    
      margin-right: 0 !important;
    }

/*   .experience h1{
    transform: scale(0.6);
  }
  .experience h5{
    transform: scale(0.8);
  } */
.experience{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
}










    