
.profilHeadline{
    position: absolute;
    width: 216px;
    height: 22px;
    left: 33px;
    top: 124px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #FFFFFF;
}
.profilSubHeadline{
    position: absolute;
    width: 216px;
    height: 22px;
    left: 33px;
    top: 155px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: rgba(255, 255, 255, 0.5);
}

#residence{
    position: absolute;
width: 93px;
height: 22px;
left: 57px;
top: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}

#city{
    position: absolute;
width: 94px;
height: 22px;
left: 54px;
top: 61px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}
#age{
    position: absolute;
width: 94px;
height: 22px;
left: 54px;
top: 101px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}

#rwanda{
    position: absolute;
width: 94px;
height: 22px;
left: 150px;
top: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: right;

color: rgba(255, 255, 255, 0.5);

}
#kigali{
    
/* Kigali */

position: absolute;
width: 93px;
height: 22px;
left: 148px;
top: 57px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: right;

color: rgba(255, 255, 255, 0.5);


}
#age{
    position: absolute;
    width: 62px;
    height: 22px;
    left: 179px;
    top: 95px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    
    color: rgba(255, 255, 255, 0.5); 
}
#languages{
    position: absolute;
width: 216px;
height: 22px;
left: 53px;
top: 151px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}
